body{ /* lekhar font google theke nia ase thik korse*/
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{ /*h1 ar font size baraise*/
    font-size: 50px;
    
}
.orange-color{  /*color dise*/
    color: orange;
}
/*section{
    display: flex;
    padding-left: 5%;
    margin-bottom: 120px;

    
}*/

.flexible-container{  /* container k vag korer jonno kora hoise*/
    display: flex;
    padding-left: 5%;
    margin-bottom: 120px;

}
.half-width{ 
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{ /* specially img ar size komaise*/
    width: 80%;
    padding-top: 5%;
}
.link-button{  /* clickable link sundor korer jonno ja ja kora lage korse*/
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{   /*section 1 ar background image dise*/
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
}
.dream-big{  /*section 2 ar background image dise */
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
}
.color-orange{  /* section 3 arlekha orange color korer jonno*/
    color: orange;
}

.experience-item{  /*section 3 ar box shadow banaite ja ja lage kora hoise aikhane banaise */
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 80px gray;
    padding-left: 10px;
    border-radius: 10%;
    
    
}

.experience-area{   /* section 3 ar background  image dise */
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

h1{
    font-size: 50px; /*font size baraise*/
}
h2{
    font-size: 40px;
}
    
#web-dev-exp{ /* given baby developer boder*/
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan) ;
    border-image-slice: 1;
    
}
#full-stack-exp{  /*given border line*/
    border-left: 7px solid;
    border-right: 7px solid;
    border-image: linear-gradient(red,purple) ;
    border-image-slice: 1;

}

footer h3{   /*footer center*/

     background-color: lightblue;
     text-align: center;

    
}

